beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.9
pytz==2024.2
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
selenium==4.11.2
playwright==1.55.0
boto3==1.40.35
botocore==1.40.35
jmespath==1.0.1
s3transfer==0.14.0
